*.a
*.bak
*.cbproj.local
*.class
*.dll
*.egg-info
*.exe
*.filters
*.htm
*.idb
*.ilk
*.make
*.o
*.obj
*.pdb
*.sln
*.spec
*.swp
*.tgz
*.tmp
*.user
*.user.*
*.vcproj
*.vcxproj
*_plugin_import.cpp
.classpath
.gradle
.idea
.project
.qmake.stash
.settings
.vs
.vscode
__history
__pycache__
\#*\#
\.\#*
bin
build
build-*
compiled
debug
desktop.ini
dist
gradle
gradlew
gradlew.bat
Makefile*
obj
release
target
tmp
ui_*.h
venv
