*.a
*.bak
*bxproj-journal
*.cbproj.local
*.class
*.db
*.db3
*.dll
*.egg-info
*.etag
*.exe
*.filters
*.gcda
*.gcno
*.gcov
*.htm
*.idb
*.ilk
*.lcov
*.make
*.msi
*.o
*.obj
*.pdb
*.sln
*.spec
*.sqlite
*.sqlite3
*.swp
*.tgz
*.tmp
*.user
*.user.*
*.vcproj
*.vcxproj
*.xz
*.zip
*_plugin_import.cpp
.antlr
.classpath
.dart_tool
.dub
.gradle
.idea
.packages
.project
.qmake.stash
.settings
.vs
.vscode
__history
__pycache__
\#*\#
\.\#*
bin
build
build-*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
compiled
debug
desktop.ini
dist
gradle
gradlew
gradlew.bat
Makefile*
nimcache
obj
pubspec.lock
release
target
tmp
ui_*.h
venv
